<h1 class = "page-header text-center"><%= @list.name() %> Details</h1>

<h4><%= @list.name()%>:</h4>
<ul>
  <% @list.tasks.each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>

<a href="/list/<%= @list.id %>/new">Add a task</a>
<a href="/lists">View Lists</a>
